.titleOne {
    margin: 0;
    font-family: Montserrat, sans-serif;
    padding-bottom: 50px;
    font-size: 45px;
    font-weight: 700;
}

.paragraph {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.text-block {
    min-width: 400px;
    width: 55%;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    color: #98F357;
    font-size: 300px;
    font-family: Roboto, sans-serif;
    margin: 0;

}

.content-be-part {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 42px;
    margin: 0;
}

.dream-figure {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-left: 42px;
    padding-top: 42px;
}

.no-distance {
    padding: 0;
    margin: 0;
}
.gravity-top-right {
    margin-left: auto;
    margin-top: -20px;
}
.block {
    width: 30%;
    height: 350px;
    min-width: 330px;
    max-width: 500px;
    margin: 10px;
}

.background {
    background-image: url(../../images/workout/back_workout.png);
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-background {
    background: #FFFFFF;
    border-radius: 30px;
    margin: 30px;
}

.tariff {
    font-style: italic;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 15px;
    height: 100px;
    color: #958E8E;
}

.programs {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 500;
    padding-left: 42px;
    padding-top: 42px;
}

.frame-tariff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #FFFFFF;
    padding-top: 70px;
}

.full-tariff {
    max-width: 400px;
    min-width: 350px;
    height: fit-content;
    margin: 0;
    padding: 30px;
}

.lite-gradient {
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, #BCF445 0%, #80A029 100%);
    border-radius: 9px;
    margin: 0;
}

.base-gradient {
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, rgba(126.00000008940697, 152.0000061392784, 44.000001177191734, 1) 0%, rgba(94.0000019967556, 71.00000336766243, 61.00000016391277, 1) 100%);
    border-radius: 9px;
    margin: 0;
}

.text-gradient {
    font-family: Montserrat, sans-serif;
    font-size: 51px;
    font-weight: 800;
    color: #FFFFFF;
    margin: 0;
    padding-left: 25px;
    padding-top: 15px;
}

.maximum-gradient {
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, rgba(89.00000229477882, 64.00000378489494, 62.00000010430813, 1) 0%, rgba(68.00000354647636, 17.00000088661909, 68.00000354647636, 1) 100%);
    border-radius: 9px;
    margin: 0;
}

.rectangle {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(196, 196, 196, 0.23);
    border-radius: 22px;
}

.buy {
    width: 68%;
    height: 47px;
    border-radius: 13px;
    background: #98F357;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 25px;
}

.cancel {
    height: 47px;
    border-radius: 7px;
    background: #D0CDCD;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 25px;
}

.marker::marker {
    font-size: 0.5rem;
    color: #383434;
}

.line {
    margin-right: 2%;
    margin-top: 0;
    padding: 0;
    width: 75%;
    border-bottom: 1px solid #000000;
}

.dialog-line {
    margin: 0;
    padding: 0;
    width: 430px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.53);
}

.cost {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #000000;
}

.month {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    max-width: 580px;
    width: 45%;
    min-width: 200px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.frame-trains {
    background: #ECE8F9;
    padding: 40px 22px;

}

.unordered-list{
    width: 70%;
    padding-right: 40px;
}