.full-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    min-width: 1400px;
}

.custom-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 110px;
}

.drop-down-menu-bar {
    font-family: Montserrat, serif;
    font-size: 14px;
    line-height: 22px;
    border-radius: 15px;
    --lumo-body-text-color: black;
}
