.video-upload-div{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    /*min-height: 100vh;*/
}

.upload-button {
    margin-left: 10%;
    margin-right: 10%;
    width: 192px;
    height: 36px;
    font-family: Montserrat, serif;
}