.background {
    background: #ECE8F9;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.text-block {
    padding-left: 10%;
    padding-right: 10%;
}


